target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
# 默认忽略的文件
.idea/shelf/
.idea/workspace.xml
# 基于编辑器的 HTTP 客户端请求
.idea/httpRequests/
# Datasource local storage ignored files
.idea/dataSources/
.idea/dataSources.local.xml


### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### 针对本项目补充 ###
**/说明文件/
**/application-*
# 密钥文件(由YunaNexusCommonSecurity自动生成)
.rsa/
# Postman文件
postman/
.postman/
**/.venv

### 前端项目 ###
**/node_modules
**/.pnpm-store
**/.nuxt
**/.output
**/dist
**/.env
**/.env.*
!**/.env.example
**/.DS_Store
**/coverage
**/*.log