# 环境变量示例文件( 🚧 开发中...非最终版本 🚧 )

# 网站标题
NUXT_PUBLIC_SITE_TITLE=YunaNexus

# 基地址
# TODO: 后期合并为各个后端的网关地址
NUXT_PUBLIC_API_BASE=http://xxx.com
NUXT_PUBLIC_AUTH_BASE=http://xxx.com

# OAuth 客户端
# 客户端 OAuth UUID
NUXT_PUBLIC_OAUTH_CLIENT_UUID=
# 客户端 OAuth 密钥
NUXT_PUBLIC_OAUTH_CLIENT_SECRET=

