# 环境变量示例文件( 🚧 开发中...非最终版本 🚧 )

# 网站标题
NUXT_PUBLIC_SITE_TITLE=YunaNexus

# 基地址
# TODO: 后期合并为各个后端的网关地址
NUXT_PUBLIC_API_BASE=http://xxx.com
NUXT_PUBLIC_AUTH_BASE=http://xxx.com

# OAuth 客户端
# 客户端 OAuth UUID
NUXT_PUBLIC_OAUTH_CLIENT_UUID=
# 客户端 OAuth 密钥
NUXT_PUBLIC_OAUTH_CLIENT_SECRET=

# 登录态 Cookie 生命周期(秒)
# AccessToken Cookie 默认 7200 秒(2 小时)
NUXT_PUBLIC_AUTH_ACCESS_COOKIE_MAX_AGE=7200
# RefreshToken 及相关会话信息 Cookie 默认 604800 秒(7 天)
NUXT_PUBLIC_AUTH_REFRESH_COOKIE_MAX_AGE=604800

